<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>WallAware_Timer.plist</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/WallAware.sh</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/relink/WallAware/AgentLogs/launchd_test.err</string>
	<key>StandardOutPath</key>
	<string>/Users/relink/WallAware/AgentLogs/launchd_test.out</string>
	<key>StartInterval</key>
	<integer>900</integer>
</dict>
</plist>
